<div class="project-board">
  <h3 *ngIf="project$ | async; let project">PROJECT / {{ project.name }}</h3>
  <nz-tabset>
    <nz-tab nzTitle="Task board"><app-task-board></app-task-board></nz-tab>
    <nz-tab nzTitle="About"><app-project-about></app-project-about></nz-tab>
    <nz-tab nzTitle="Members"
      ><app-project-member
        [members]="(project$ | async)?.users || []"
      ></app-project-member
    ></nz-tab>
  </nz-tabset>
</div>

<app-loading [isShow]="!(project$ | async)"></app-loading>
