<app-modal
  class="custom-schedule"
  [visible]="open"
  modalWidth="500px"
  [allowOk]="allowSubmit"
  (onCancel)="handleCancel()"
  (onOk)="handleSave()"
>
  <div class="modal__wrapper" [formGroup]="scheduleForm">
    <div class="modal__column">
      <div class="modal__column--main">
        <div class="modal__field modal__field--main">
          <input
            [ngClass]="{
              'modal__field--input': true,
              'modal__field--error':
                f['title'].invalid && (f['title'].dirty || f['title'].touched)
            }"
            placeholder="Title"
            #titleRef
            formControlName="title"
          />
          <div
            *ngIf="
              f['title'].invalid && (f['title'].dirty || f['title'].touched)
            "
            class="form-alert"
          >
            <div *ngIf="f['title'].errors?.required" class="alert-item">
              <app-svg-icon [value]="errorIcon" class="svg-icon"></app-svg-icon>
              Title is required.
            </div>
          </div>
        </div>

        <div class="modal__field">
          <div class="modal__field-group">
            <nz-date-picker
              class="modal__field--date-picker"
              formControlName="date"
              [nzDisabledDate]="disabledDate"
            >
            </nz-date-picker>
            <nz-time-picker
              class="modal__field--time-picker"
              nzFormat="HH:mm"
              formControlName="timeStart"
              nzPlaceHolder="HH:mm"
            ></nz-time-picker>
            -
            <nz-time-picker
              class="modal__field--time-picker"
              nzFormat="HH:mm"
              formControlName="timeEnd"
              nzPlaceHolder="HH:mm"
            ></nz-time-picker>
          </div>
        </div>
        <div class="modal__field">
          <label class="modal__field--label">Location<i>*</i></label>
          <input
            type="text"
            placeholder="Location"
            formControlName="place"
            [ngClass]="{
              'modal__field--input': true,
              'modal__field--error':
                f['place'].invalid && (f['place'].dirty || f['place'].touched)
            }"
          />
          <div
            *ngIf="
              f['place'].invalid && (f['place'].dirty || f['place'].touched)
            "
            class="form-alert"
          >
            <div *ngIf="f['place'].errors?.required" class="alert-item">
              <app-svg-icon [value]="errorIcon" class="svg-icon"></app-svg-icon>
              Location is required.
            </div>
          </div>
        </div>
        <div class="modal__field">
          <label class="modal__field--label">Description</label>
          <span
            class="modal__field--textarea"
            placeholder="Description"
            role="textbox"
            contenteditable
            formControlName="description"
          ></span>
        </div>
      </div>
    </div>
  </div>
</app-modal>
