
<div class="container mx-auto">
  <div class="header">
  <div class="header__logo">
    <img src="assets/Logo.svg" alt="logo">
  </div>
  <div class="header__menus">
    <ul class="header__menus__list">
      <li class="header__menus__list__item"><a routerLink="/project" routerLinkActive="active"> <img src="assets/icons/Project.svg" alt="project"><span>Project</span></a></li>
      <li class="header__menus__list__item"><a routerLink="/schedule" routerLinkActive="active"><img src="assets/icons/Schedule.svg" alt="schedule"><span>Schedule</span></a></li>
      <li class="header__menus__list__item"><a routerLink="/user" routerLinkActive="active"> <img src="assets/icons/User.svg" alt="schedule"><span>User</span></a></li>
    </ul>
  </div>
  </div>
</div>

