<div class="account">
  <h3 class="account__title">Account</h3>
  <div class="account__content" *ngIf="user$ | async; let user">
    <app-avatar-fragment
      (onUpdateAvatar)="handleUpdateAvatar($event)"
      [avatarUrl]="user.avatarUrl || ''"
    ></app-avatar-fragment>
    <app-form-fragment
      (onUpdateUser)="handleUpdateUser($event)"
      (onDeactiveUser)="handleDeactiveUser()"
      [user]="user"
    ></app-form-fragment>
  </div>
</div>

<app-loading [isShow]="!(user$ | async)"></app-loading>
