<div class="comment__section">
  <div class="comment__area" [formGroup]="commentForm">
    <textarea
      class="modal__field--textarea"
      placeholder="Give your comment here"
      rows="1"
      formControlName="content"
      #refTextarea
      (input)="changeInput(refTextarea)"
    ></textarea>
    <button (click)="handleSubmitComment()">
      <img src="/assets/icons/Send.svg" alt="Send" />
    </button>
  </div>
  <div class="comment__list">
    <div class="comment__item" *ngFor="let comment of listComment.reverse()">
      <div class="item__avatar">
        <img [src]="comment.user.avatarUrl" alt="avatar" />
      </div>
      <div class="item__content">
        <div class="item__date" *ngIf="comment.updateAt > comment.createAt">
          {{ comment.updateAt | customDate }}, Edited
        </div>
        <div class="item__date" *ngIf="comment.createAt === comment.updateAt">
          {{ comment.createAt | customDate }}
        </div>
        <div>{{ comment.content }}</div>
      </div>
    </div>
  </div>
</div>
