.comment {
  &__section {
  }
  &__area {
    @apply mb-5;
    @apply relative;
    span {
      @apply w-full;
      min-height: 40px;
    }
    button {
      @apply flex;
      @apply flex-col;
      @apply ml-2;
      @apply p-1;
      @apply absolute;
      @apply rounded-sm;
      @apply border-transparent;
      @apply border-2;

      right: 0;
      top: 0;
      &:hover {
        @apply border-black;
      }
      & img {
        width: 28px;
      }
      & span {
        @apply underline;
      }
    }
  }
  &__list {
  }
}
