<div class="register">
<div class="register__wrapper" [formGroup]="registerForm">
  <h3 >Register</h3>
  <input class="register__field" type="text" aria-label="Filter projects" placeholder="Name" formControlName="name"/>
   <input class="register__field" type="text" aria-label="Filter projects" placeholder="Email" formControlName="email" />
  <input class="register__field" type="password" aria-label="Filter projects" placeholder="Password" formControlName="password" />

   <div class="register__actions">
     <button class="bg-indigo-500 text-sm hover:bg-indigo-600 rounded px-4 py-2 text-white" (click)="handleRegister()">Submit</button>
   </div>
</div>
</div>
