<div class="avatar-fr">
  <div class="avatar-fr__avatar">
    <img [src]="avatarUrl" alt="avatar" />
  </div>
  <div class="avatar-fr__set-avatar" [formGroup]="avatarForm">
    <label for="url-input"
      >Image Url
      <img
        src="assets/icons/Question.svg"
        alt="question-hint"
        nzTooltipTitle="Put the url of the image which will be added as your avatar"
        nzTooltipPlacement="right"
        nz-button
        nz-tooltip
    /></label>
    <input nz-input placeholder="Avatar url" formControlName="avatarUrl" />
    <button nz-button nzType="primary" (click)="handleSubmit()">
      Set Avatar
    </button>
  </div>
</div>
