<div class="avatar-fr">
  <div class="avatar-fr__avatar">
    <img [src]="avatarUrl" alt="avatar" />
  </div>
  <div class="avatar-fr__set-avatar" [formGroup]="avatarForm">
    <label for="url-input"
      >Image Url

      <app-svg-icon
        [value]="questionIcon"
        class="svg-icon"
        nzTooltipTitle="Put the url of the image which will be added as your avatar"
        nzTooltipPlacement="right"
        nz-button
        nz-tooltip
      ></app-svg-icon>
    </label>
    <input nz-input placeholder="Avatar url" formControlName="avatarUrl" />
    <button nz-button nzType="primary" (click)="handleSubmit()">
      Set Avatar
    </button>
  </div>
</div>
