<div class="avatar-fr">
  <div class="avatar-fr__avatar">
    <img
      src="https://images.generated.photos/pFn_Vmu_rVhAmPqPW5Ig9FG1htuwiED2XtbuDV6obeU/rs:fit:512:512/wm:0.95:sowe:18:18:0.33/czM6Ly9pY29uczgu/Z3Bob3Rvcy1wcm9k/LmNvbmQvYmY5OTgx/ZDYtZGE3MC00OWNm/LWE0YTEtN2JjM2Yz/MjdmNzU3LmpwZw.jpg"
      alt="avatar"
    />
  </div>
  <div class="avatar-fr__set-avatar">
    <label for="url-input"
      >Image Url
      <img
        src="assets/icons/Question.svg"
        alt="question-hint"
        nzTooltipTitle="Put the url of the image which will be added as your avatar"
        nzTooltipPlacement="right"
        nz-button
        nz-tooltip
    /></label>
    <input nz-input placeholder="Basic usage" />
    <button nz-button nzType="primary">Set Avatar</button>
  </div>
</div>
