<div clsas="schedule">
  <div class="schedule__wrapper">
    <h3>
      SCHEDULE
      <button class="btn-add-schedule" (click)="openAddSchedule()">
        <img src="assets/icons/Add.svg" alt="add-schedule" />
        <span>Add Schedule</span>
      </button>
    </h3>

    <div class="schedule__table">
      <div class="schedule__tasks">
        <app-schedule-accordition
          *ngFor="let item of schedules$ | async"
          [data]="item"
        ></app-schedule-accordition>
      </div>
      <div class="schedule__calendar">
        <nz-calendar
          (nzPanelChange)="panelChange($event)"
          (nzSelectChange)="selectChange($event)"
          (change)="panelChange($event)"
        >
          <ul *nzDateCell="let date">
            <ng-container *ngIf="listDataMap[formatDate(date)]">
              <li *ngFor="let item of listDataMap[formatDate(date)]">
                <nz-badge [nzStatus]="item.type"></nz-badge>
              </li>
            </ng-container>
          </ul>
        </nz-calendar>
      </div>
    </div>
    <app-schedule-detail-modal
      [open$]="openModal$"
      [scheduleEditData$]="scheduleEditData$"
      [processState$]="processState$"
    ></app-schedule-detail-modal>
  </div>
</div>
