@import 'scss/_mixins';
.schedule {
  &__wrapper {
    @apply relative;
    & > h3 {
      @apply text-2xl;
      @apply my-2;

      & .btn-add-schedule {
        @apply bg-white;
        @apply shadow;
        @apply hover:shadow-md;
        @apply text-sm;
        @apply rounded;
        @apply p-2;
        @apply text-white;
        @apply absolute;
        @apply top-0;
        @apply right-0;
        @apply rounded-sm;
        @apply flex;
        @apply items-center;
        @apply border-none;
        margin-left: 4px;
        color: var(--neutral-color-black);
        & .svg-icon {
          @apply w-4;
        }
        & span {
          @apply uppercase;
          @apply text-xs;
          @apply ml-2;
        }
        &.ant-btn[disabled] {
          @apply shadow-none;
          color: var(--disable-color);
        }
      }
    }
  }

  &__table {
    @apply w-full;
    @apply flex;
    @apply flex-col-reverse;
    @apply md:flex-row;
    @apply flex-wrap;
    @apply md:flex-nowrap;
  }
  &__tasks {
    @apply w-full;
    @apply md:w-1/2;
    @include screen(md) {
      margin-right: 50px;
    }
  }
  &__calendar {
    @apply w-full;
    @apply md:w-1/2;
    & ::ng-deep {
      .ant-badge {
        .ant-badge-status-text {
          margin-left: 4px;
        }
      }
      .ant-picker-calendar-full {
        .ant-fullcalendar-header {
          .ant-picker-calendar-header {
            .ant-radio-group {
              .ant-radio-button-wrapper {
                &:hover {
                  color: var(--primary-color);
                }
              }
              .ant-radio-button-wrapper-checked {
                border-color: var(--primary-color);
                color: var(--primary-color);
                &:before {
                  background-color: var(--primary-color);
                }
              }
            }
          }
        }
        .ant-picker-panel {
          border: 1px solid rgba(229, 231, 235, 1);
          .ant-picker-calendar-date {
            max-height: 70px;
          }
          .ant-picker-cell-selected {
            .ant-picker-calendar-date-value {
              color: var(--primary-color);
            }
          }
          .ant-picker-calendar-date-today {
            border-color: var(--primary-color);
          }
          .ant-picker-calendar-date-content {
            height: 30px;
            & ul {
              @apply flex;
              @apply flex-wrap;
              @apply overflow-hidden;
              height: 30px;

              & li {
                line-height: 5px;
              }
            }
          }
        }
      }
    }
  }
}
