<div clsas="schedule">
  <div class="schedule__wrapper">
    <h3>
      SCHEDULE
      <button
        nz-button
        [disabled]="disabledCreateSchedule"
        class="btn-add-schedule"
        (click)="openAddSchedule()"
      >
        <app-svg-icon [value]="addIcon" class="svg-icon"></app-svg-icon>
        <span>Add Schedule</span>
      </button>
    </h3>
    <div class="schedule__table">
      <div class="schedule__tasks">
        <ng-container *ngIf="schedules$ | async; let schedules">
          <app-loading [isShow]="!schedules.length"></app-loading>
          <ng-container
            [ngTemplateOutlet]="
              schedules.length > 0 ? listSchedule : noSchedule
            "
            [ngTemplateOutletContext]="{ schedules: schedules }"
          >
          </ng-container>
        </ng-container>
      </div>
      <div class="schedule__calendar">
        <nz-calendar (nzSelectChange)="selectChange($event)">
          <ul *nzDateCell="let date">
            <ng-container *ngIf="listDataMap[formatDate(date)]">
              <li *ngFor="let item of listDataMap[formatDate(date)]">
                <nz-badge [nzStatus]="item.type"></nz-badge>
              </li>
            </ng-container>
          </ul>
        </nz-calendar>
      </div>
    </div>
    <app-schedule-detail-modal
      [open$]="openModal$"
      [scheduleEditData$]="scheduleEditData$"
      [processState$]="processState$"
      (onCreateSchedule)="handleCreateSchedule($event)"
    ></app-schedule-detail-modal>
  </div>
</div>

<ng-template #listSchedule let-schedules="schedules">
  <app-schedule-accordition
    *ngFor="let item of schedules; trackBy: trackById"
    [data]="item"
  ></app-schedule-accordition>
</ng-template>

<ng-template #noSchedule> There is no schedule on this day. </ng-template>
