<nz-modal
  [nzVisible]="visible"
  (nzOnCancel)="handleOnCancel()"
  [nzFooter]="null"
  nzClassName="modal-wrapper"
  [nzWidth]="modalWidth"
>
  <ng-container *nzModalContent>
    <div class="modal">
      <div class="modal__actions">
        <button (click)="handleOnOk()" [disabled]="firstSubmit && !allowOk">
          <app-svg-icon [value]="saveIcon" class="svg-icon"></app-svg-icon>
          <span>
            {{ saveType === 'save' ? 'Save' : 'Save & Close' }}
          </span>
          <span
            nz-dropdown
            nzTrigger="click"
            (click)="$event.stopPropagation()"
            [nzDropdownMenu]="menu"
            nzPlacement="bottomRight"
          >
            <i nz-icon nzType="down"></i>
          </span>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item (click)="handleChangeSaveType('save')">Save</li>
              <li nz-menu-item (click)="handleChangeSaveType('saveAndClose')">
                Save & Close
              </li>
            </ul>
          </nz-dropdown-menu>
        </button>
      </div>
      <ng-content></ng-content>
    </div>
  </ng-container>
</nz-modal>
