@import 'scss/_mixins';
::ng-deep {
  .dropdown {
    &__overlay {
      top: 4px;
    }
  }
}
.dropdown {
  &__icon {
    width: 25px;
    height: 25px;
  }

  &__ul {
    @apply relative;
    @apply rounded;
    padding: 4px;

    &::before {
      @apply absolute;
      box-shadow: -1px 1px 1px 0px rgb(0 0 0 / 3%);
      content: '';
      width: 0;
      height: 0;
      left: calc(50% - 5px);
      top: -4px;
      transform: rotate(136deg);
      border: 5px solid black;
      border-color: transparent transparent var(--neutral-color-white)
        var(--neutral-color-white);
    }
  }
}
