<a
  nz-dropdown
  nzTrigger="click"
  nzPlacement="bottomCenter"
  [nzDropdownMenu]="menu"
  nzOverlayClassName="dropdown__overlay"
>
  <app-svg-icon [value]="configIcon" class="dropdown__icon"></app-svg-icon>
</a>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu class="dropdown__ul">
    <li nz-menu-item *ngFor="let option of options">
      <a
        [routerLink]="option.value"
        [attr.disabled]="option.disabled"
        (click)="option.onClick()"
      >
        {{ option.text }}
      </a>
    </li>
  </ul>
</nz-dropdown-menu>
