<div class="form-fr" [formGroup]="accountForm">
  <div class="form-fr__group">
    <div class="form-fr__item">
      <label for="displayName"
        >Display Name

        <app-svg-icon
          [value]="questionIcon"
          class="svg-icon"
          nzTooltipTitle="This text will be displayed in the whole application."
          nzTooltipPlacement="right"
          nz-button
          nz-tooltip
        ></app-svg-icon>
      </label>
      <input
        nz-input
        name="displayName"
        placeholder="Display name"
        formControlName="name"
      />
    </div>
    <div class="form-fr__item">
      <label for="">Birth Day</label>
      <nz-date-picker
        formControlName="birthday"
        placeholder="YYYY-MM-DD"
      ></nz-date-picker>
    </div>
  </div>

  <div class="form-fr__group">
    <div class="form-fr__item">
      <label for="">Email Address</label>
      <input nz-input formControlName="email" />
    </div>
    <div class="form-fr__item">
      <label for="">Phone Number</label>
      <input nz-input placeholder="(+84) xxxxx" formControlName="phoneNumber" />
    </div>
  </div>

  <app-delete-account
    (onDeactiveUser)="handleDeactiveUser()"
  ></app-delete-account>

  <div class="form-fr__actions">
    <button nz-button nzType="primary" (click)="onSave()">Save Changes</button>
  </div>
</div>
