<div class="project-item" (click)="goIntoProject()">
  <div class="project-item__intro">
    <span class="project-item__intro--big-letter">{{ projectLetter }}</span>
    <span class="project-item__intro--name">{{ project.name }}</span>
  </div>
  <span class="project-item__desc">{{ project.description }}</span>
  <div class="project-item__shortened">
    <div class="shortened__start-date">
      <app-svg-icon [value]="scheduleIcon" class="svg-icon"></app-svg-icon>
      <span>{{ project.createAt }}</span>
    </div>
    <ul class="shortened__members" data-avatar="3">
      <li *ngFor="let u of project.users">
        <img [src]="u.avatarUrl" [alt]="u.name" />
      </li>
      <li *ngIf="totalUsers > 0" class="members__count">
        <span> +{{ totalUsers }}</span>
      </li>
    </ul>
  </div>
</div>
