@import 'scss/_mixins';

.project-item {
  @apply flex;
  @apply flex-col;
  @apply rounded-lg;
  @apply items-center;
  @apply shadow;
  @apply items-end;
  @apply cursor-pointer;
  height: 150px;
  @apply w-full;
  @include screen(md) {
    width: 225px;
    height: 150px;
  }
  &__intro {
    @apply w-full;
    @apply flex;
    @apply mb-2;
    @apply items-center;

    &--big-letter {
      @apply bg-gray-400;
      @apply flex;
      @apply text-white;
      @apply items-center;
      @apply justify-center;
      border-radius: 8px 0 8px 0;
      width: 32px;
      height: 32px;
      font-size: 18px;
    }
    &--name {
      @apply ml-3;
      @apply font-medium;
      font-size: 18px;
    }
  }
  &__desc {
    @apply px-4;
    @apply w-full;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 14px;
    @apply flex-grow;
  }

  &__shortened {
    @apply w-full;
    @apply flex;
    @apply justify-between;
    padding: 12px;
    height: 45px;
    & span {
      margin-left: 6px;
      font-size: 12px;
    }
    & .shortened {
      &__start-date {
        @apply flex;
        @apply items-center;
        & .svg-icon {
          width: 19px;
          height: 19px;
        }
      }
      &__members {
        @apply flex;
        @apply items-center;
        @apply flex-row-reverse;
        @apply relative;
        width: 55px;

        & > li {
          margin-left: -15px;
          width: 32px;
          height: 32px;
          @apply drop-shadow-md;
          & img {
            width: 32px;
            height: 32px;
            object-fit: cover;
            @apply rounded-full;
            border: 2px solid #fff;
          }
        }
        & .members {
          &__count {
            left: 16px;
            @apply absolute;
            width: 30px;
            height: 30px;
            & span {
              @apply flex;
              @apply items-center;
              @apply justify-center;
              @apply rounded-full;
              width: 30px;
              height: 30px;
              background: rgba(0, 0, 0, 0.25);
              color: #fff;
            }
          }
        }
      }
    }
    & img {
      width: 22px;
      height: 22px;
    }
  }
}
