
<div class="user-item">
  <div class="user-item__logo">
    <img src="https://random.imagecdn.app/70/70">
  </div>
  <span class="user-item__name">User's name</span>

  <div class="user-item__actions">
    <button class="user-item__btn user-item__btn--schedule">
      <img src="assets/icons/Schedule.svg" alt="schedule">
    </button>
    <div class="user-item__btn__group">
      <button class="user-item__btn user-item__btn--edit">
        <img src="assets/icons/Edit.svg" alt="edit">
      </button>
      <button class="user-item__btn">
        <img src="assets/icons/Delete.svg" alt="delete">
      </button>
    </div>

  </div>
</div>
