<app-modal [visible]="open" (onOk)="handleSave()" (onCancel)="handleCancel()">
  <div class="modal__wrapper" [formGroup]="taskForm">
    <div class="modal__column">
      <div class="modal__column--main">
        <div class="modal__field modal__field--main">
          <input
            class="modal__field--input"
            placeholder="Title"
            formControlName="title"
          />
        </div>
        <div class="modal__field">
          <label class="modal__field--label">Description</label>
          <span
            class="modal__field--textarea"
            role="textbox"
            contenteditable
            formControlName="description"
            placeholder="Description"
          ></span>
        </div>
        <div class="modal__field" *ngIf="task$ | async as task">
          <ng-container *ngIf="openMode === 'EDIT'">
            <label class="modal__field--label">Comments</label>
            <app-comment
              [listComment]="task.comments"
              (onSubmit)="handleSendComment($event)"
            ></app-comment>
          </ng-container>
        </div>
      </div>
      <div class="modal__column--sub">
        <div class="modal__field">
          <label class="modal__field--label">Assign To</label>
          <nz-select
            nzShowSearch
            formControlName="assignTo"
            class="modal__field--select"
          >
            <nz-option
              *ngFor="let o of users$ | async"
              [nzLabel]="o.name"
              [nzValue]="o.id"
            ></nz-option>
          </nz-select>
        </div>
        <div class="modal__field">
          <label class="modal__field--label">Status</label>
          <nz-select
            nzShowSearch
            formControlName="status"
            class="modal__field--select"
          >
            <nz-option
              *ngFor="let o of listOfStatus"
              [nzLabel]="o.label"
              [nzValue]="o.value"
            ></nz-option>
          </nz-select>
        </div>
        <div class="modal__field">
          <label class="modal__field--label">Priority</label>
          <nz-select
            nzShowSearch
            formControlName="priority"
            class="modal__field--select"
          >
            <nz-option
              *ngFor="let p of listOfPriority"
              [nzLabel]="p.label"
              [nzValue]="p.value"
            ></nz-option>
          </nz-select>
        </div>

        <div class="modal__field">
          <label class="modal__field--label">Estimate</label>
          <input class="modal__field--input" formControlName="estimate" />
        </div>
        <div class="modal__field">
          <label class="modal__field--label">Remaining</label>
          <input class="modal__field--input" formControlName="remaining" />
        </div>
        <div class="modal__field">
          <label class="modal__field--label">Complete</label>
          <input class="modal__field--input" formControlName="complete" />
        </div>
      </div>
    </div>
  </div>
</app-modal>
