.task-item {
  @apply flex;
  @apply flex-col;
  @apply shadow-md;
  @apply my-px;
  @apply md:my-2;
  @apply rounded-md;
  @apply relative;
  width: 222px;
  background-color: #ffffff;
  padding: 14px;
  &__btn {
    @apply absolute;
    top: 16px;
    right: 12px;
    & img {
      width: 20px;
      height: 20px;
    }
  }
  &__title {
    @apply font-semibold;
    @apply w-11/12;
    font-size: 16px;
  }
  &__desc {
    @apply my-2;
    @apply hidden;
    @apply md:block;
    font-size: 16px;
  }
  &__others {
    @apply flex;
    & img {
      width: 18px;
      height: 18px;
    }
    & > div {
      @apply flex;
      @apply items-center;
      margin-right: 14px;
      & span {
        margin-left: 5px;
      }
    }
    &__comments {
    }
    &__links {
    }
  }
  &__piority-members {
    @apply flex;
    @apply justify-between;
    @apply items-end;
    
    & .piority {
      background-color: #b46b42;
      color: #fff;
      padding: 5px;
      border-radius: 8px;
      font-size: 12px;
      line-height: 10px;
      height: 20px;
      @apply font-semibold;
    }
    & .members {
      @apply flex;
      @apply flex-row-reverse;

      & > li {
        margin-left: -10px;
      }
      & img {
        width: 32px;
        height: 32px;
        border: 2px solid #fff;
        @apply rounded-full;
      }
    }
  }
}
