<div class="task-item">
  <span class="task-item__title">{{ data.title }}</span>
  <span class="task-item__desc">{{ data.description }}</span>
  <button class="task-item__btn" (click)="handleEditTask()">
    <app-svg-icon [value]="threeDotsIcon" class="svg-icon"></app-svg-icon>
  </button>
  <div class="task-item__others">
    <div class="task-item__others__links">
    <app-svg-icon [value]="linkIcon" class="svg-icon"></app-svg-icon>
      <span>2</span>
    </div>
    <div class="task-item__others__comments">
      <app-svg-icon [value]="commentIcon" class="svg-icon"></app-svg-icon>
      <span>{{ data.comments.length }}</span>
    </div>
  </div>

  <div class="task-item__priority-members">
    <div
      [ngClass]="{
        priority: true,
        'priority--high': data.priority === 'HIGH',
        'priority--critical': data.priority === 'CRITICAL',
        'priority--medium': data.priority === 'MEDIUM',
        'priority--low': data.priority === 'LOW'
      }"
    >
      {{ data.priority }}
    </div>
    <ul class="members">
      <li *ngFor="let member of memberAvatars">
        <img [src]="member.url" [alt]="member.id" />
      </li>
    </ul>
  </div>
</div>
