.task-item {
  @apply flex;
  @apply flex-col;
  @apply shadow-md;
  @apply my-px;
  @apply md:my-2;
  @apply rounded-md;
  @apply relative;
  width: 222px;
  background-color: var(--neutral-color-white);
  padding: 14px;
  &__btn {
    @apply absolute;
    top: 16px;
    right: 12px;
    width: 20px;
    height: 20px;
    @apply p-0;
    @apply border-none;

    &:hover {
      color: var(--primary-color);
    }
    &.ant-btn[disabled] {
      &:hover {
        color: var(--disable-color);
      }
    }
  }
  &__title {
    @apply font-semibold;
    @apply w-11/12;
    font-size: 14px;
  }
  &__desc {
    @apply my-2;
    @apply hidden;
    @apply md:block;
    @apply break-words;
    font-size: 12px;
  }
  &__others {
    @apply flex;
    & .svg-icon {
      width: 18px;
      height: 18px;
    }
    & > div {
      @apply flex;
      @apply items-center;
      margin-right: 14px;
      & span {
        margin-left: 5px;
      }
    }
    &__comments {
    }
    &__links {
    }
  }
  &__priority-members {
    @apply flex;
    @apply justify-between;
    @apply items-end;

    & .priority {
      padding: 5px;
      border-radius: 4px;
      font-size: 12px;
      line-height: 7px;
      height: 20px;
      @apply font-semibold;
      @apply capitalize;

      &--low {
        border: 2px solid #3a7fe8;
        color: #3a7fe8;
      }
      &--medium {
        border: 2px solid #b46b42;
        color: #b46b42;
      }
      &--high {
        border: 2px solid #d3a52f;
        color: #d3a52f;
      }
      &--critical {
        border: 2px solid #e83a3a;
        color: #e83a3a;
      }
    }
    & .members {
      @apply flex;
      @apply flex-row-reverse;

      & > li {
        margin-left: -10px;
      }
      & img {
        width: 32px;
        height: 32px;
        border: 2px solid #fff;
        object-fit: cover;
        @apply rounded-full;
      }
    }
  }
}
