@import 'scss/_mixins';
.user-item {
  @apply shadow-lg;
  @apply bg-white;
  @apply rounded-lg;
  @apply flex;
  @apply flex-col;
  @apply items-center;
  width: 160px;
  @include screen(md) {
    width: 202px;
  }
  &__logo {
    @apply w-full;
    & img {
      @apply w-full;
      @apply object-cover;
      border-radius: 8px 8px 0 0;
      height: 105px;
    }
  }
  &__desc {
    @apply h-full;
    @apply w-full;
    @apply capitalize;
    @apply flex;
    @apply flex-col;
    padding: 0 10px;
    margin: 10px 0;
    font-size: 14px;
  }
  &__name {
    @apply font-medium;
  }
  &__email {
    @apply normal-case;
  }
  &__role {
    color: #797979;
  }
}
