<div class="schedule-accord" [ngClass]="{ show: show }">
  <div class="schedule-accord__header" (click)="toggleAccrod()">
    <div class="schedule-accord__header-content">
      <span>{{ data.title }}</span>
      <div>
        <span>{{ data.timeStart }} - {{ data.timeEnd }}</span>
        <span>{{ data.description }}</span>
      </div>
    </div>
    <span class="schedule-accord__header-arrow">
      <app-svg-icon [value]="arrowIcon" class="svg-icon"></app-svg-icon>
    </span>
  </div>
  <div class="schedule-accord__content">
    <div class="schedule-accord__content-row">
      <span> Creator: </span>
      <span>{{ data.creator }}</span>
    </div>
    <div class="schedule-accord__content-row">
      <span> Place: </span>

      <span>{{ data.place }}</span>
    </div>
    <div
      class="schedule-accord__content-row schedule-accord__content-row--desc"
    >
      {{ data.description }}
    </div>
  </div>
</div>
