<div class="pseudo-scrollbar">
  <div #scrollbarPseudo></div>
</div>
<div class="task-board">
  <button class="task-board__btn task-board__btn--add" (click)="openAddTask()">
    <img src="assets/icons/Add.svg" alt="add-task" />
    <span>Add Task</span>
  </button>

  <div class="task-board__wrapper" #taskBoardWrapper>
    <div
      cdkDropList
      [cdkDropListData]="taskNewData"
      [cdkDropListConnectedTo]="taskBoardIds"
      (cdkDropListDropped)="onTaskDrop($event)"
      id="dropListNew"
      class="task-board__col task-board__col--new"
    >
      <div class="task-board__state">
        <span>New</span>
        <span class="task-board__state__count">({{ taskNewData.length }})</span>
      </div>
      <app-task-item
        [processState$]="processState$"
        (editTask)="openEditTask($event)"
        cdkDrag
        [cdkDragData]="task"
        *ngFor="let task of taskNewData"
        [data]="task"
      ></app-task-item>
    </div>

    <div
      cdkDropList
      [cdkDropListData]="taskInProcessingData"
      [cdkDropListConnectedTo]="taskBoardIds"
      (cdkDropListDropped)="onTaskDrop($event)"
      id="dropListInProcessing"
      class="task-board__col task-board__col--in-processing"
    >
      <div class="task-board__state">
        <span>In Processing</span>
        <span class="task-board__state__count"
          >({{ taskInProcessingData.length }})</span
        >
      </div>
      <app-task-item
        [processState$]="processState$"
        (editTask)="openEditTask($event)"
        cdkDrag
        [cdkDragData]="task"
        *ngFor="let task of taskInProcessingData"
        [data]="task"
      ></app-task-item>
    </div>

    <div
      cdkDropList
      [cdkDropListData]="taskResolveData"
      [cdkDropListConnectedTo]="taskBoardIds"
      (cdkDropListDropped)="onTaskDrop($event)"
      id="dropListResolve"
      class="task-board__col task-board__col--resolve"
    >
      <div class="task-board__state">
        <span>Resolve</span>
        <span class="task-board__state__count"
          >({{ taskResolveData.length }})</span
        >
      </div>
      <app-task-item
        [processState$]="processState$"
        (editTask)="openEditTask($event)"
        cdkDrag
        [cdkDragData]="task"
        *ngFor="let task of taskResolveData"
        [data]="task"
      ></app-task-item>
    </div>

    <div
      cdkDropList
      [cdkDropListData]="taskReadyForTestData"
      [cdkDropListConnectedTo]="taskBoardIds"
      (cdkDropListDropped)="onTaskDrop($event)"
      id="dropListReadyForTest"
      class="task-board__col task-board__col--ready-for-test"
    >
      <div class="task-board__state">
        <span>Ready for test</span>
        <span class="task-board__state__count"
          >({{ taskReadyForTestData.length }})</span
        >
      </div>
      <app-task-item
        [processState$]="processState$"
        (editTask)="openEditTask($event)"
        cdkDrag
        [cdkDragData]="task"
        *ngFor="let task of taskReadyForTestData"
        [data]="task"
      ></app-task-item>
    </div>

    <div
      cdkDropList
      [cdkDropListData]="taskCloseData"
      [cdkDropListConnectedTo]="taskBoardIds"
      (cdkDropListDropped)="onTaskDrop($event)"
      id="dropListClose"
      class="task-board__col task-board__col--close"
    >
      <div class="task-board__state">
        <span>Close</span>
        <span class="task-board__state__count"
          >({{ taskCloseData.length }})</span
        >
      </div>
      <app-task-item
        [processState$]="processState$"
        (editTask)="openEditTask($event)"
        cdkDrag
        [cdkDragData]="task"
        *ngFor="let task of taskCloseData"
        [data]="task"
      ></app-task-item>
    </div>
  </div>
  <app-task-detail-modal
    [open$]="openModal$"
    [processState$]="processState$"
    [task$]="taskEdit$"
  ></app-task-detail-modal>
</div>
