.task-board {
  @apply relative;

  &__btn {
    @apply bg-white;
    @apply shadow;
    @apply hover:shadow-md;
    @apply text-sm;
    @apply p-2;
    @apply text-white;
    @apply absolute;
    @apply right-0;
    @apply rounded-sm;
    @apply text-black;
    @apply flex;
    @apply items-center;
    top: -55px;
    right: 2px;
    & .svg-icon {
      @apply w-4;
    }
    & span {
      @apply uppercase;
      @apply text-xs;
      @apply ml-2;
    }
  }
  &__wrapper {
    @apply flex;
    @apply overflow-x-auto;
    padding-bottom: 20px;

    &::-webkit-scrollbar {
      width: 10px !important;
      height: 10px;
      background-color: rgb(241, 245, 249);
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: rgb(203, 213, 225);
    }
  }

  &__state {
    @apply flex;
    @apply items-center;
    @apply text-center;
    @apply text-white;
    @apply py-1;
    font-size: 16px;
    width: 222px;
    height: 30px;
    line-height: 30px;
    border-radius: 8px;
    color: #5b5b5b;
    margin-bottom: 10px;
    & span {
      &:first-child {
        font-weight: 500;
        font-size: 14px;
      }
    }
  }
  &__divier {
    margin: 20px 20px 28px 0;
    border-bottom: 1px solid #c4c4c4;
  }
  &__col {
    @apply flex;
    @apply flex-col;
    margin-right: 10px;
    padding: 5px 10px 0 10px;
    border-radius: 8px;
    background: rgba(196, 196, 196, 0.2);
    &--new {
      & h4 {
        @apply bg-gray-700;
      }
    }
    &--in-processing {
      & h4 {
        @apply bg-blue-700;
      }
    }
    &--resolve {
      & h4 {
        @apply bg-indigo-700;
      }
    }
    &--ready-for-test {
      & h4 {
        @apply bg-yellow-700;
      }
    }
    &--close {
      & h4 {
        @apply bg-green-700;
      }
    }
  }
}
