:root {

  --primary-color: #3AA63F;
  --secondary-color: #A8D47A;

  --neutral-color-white: #FFFFFF;
  --neutral-color-black: #000000;
  --neutral-color: rgba(91, 91, 91, 0.6);
  --neutral-color-1: rgba(91, 91, 91, 1);
  --neutral-color-2: #AAAAAA;
}
