/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './variables';

span {
  &[contenteditable='true'] {
    min-height: 28px;
    &:empty:before {
      content: attr(placeholder);
      pointer-events: none;
      display: block; /* For Firefox */
    }
  }
  &[contenteditable='false'] {
    background: var(--disable-background);
    color: var(--disable-color);
    cursor: not-allowed;
    &:empty:before {
      content: attr(placeholder);
      pointer-events: none;
      display: block; /* For Firefox */
    }
  }
}

.form-alert {
  color: red;

  .alert-item {
    @apply flex;
    @apply items-center;
    & .svg-icon {
      margin-right: 4px;
      width: 16px;
    }
  }
}
